<h1>HOLA MUNDO DESDE TUMACO</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officia aperiam
  repudiandae est error labore laudantium architecto, corrupti tempore vitae,
  voluptates ipsam eum eligendi quia? Porro ducimus rerum sunt earum.
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil exercitationem
  ullam libero quidem. Unde reprehenderit distinctio deserunt dicta cum sint,
  saepe illo debitis sequi odit dolorum aliquam, nesciunt harum facere!
</p>
<button type="button">PRUEBA</button>
